env
./env
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.egg-info
*.egg
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*.gz
*.bz2
*.xz

lib
modules
archives

sniff_scripts/new-traces/**/*
sniff_scripts/sctplb_traces/**/*
sniff_scripts/N2N3.pcap
